<DOCTYPE HTML!>
<html>
<body bgcolor="#123456">
<head><title>FAMILY PLANING ACTIVITIES</title>
<a href="index.html"><img src="image/logo.png" width="100%" height="300" align="center" /></a>
<link rel="stylesheet" type="text/css" href="report.css"/>
</head><br/><div class="top"><h1 align="center" id="demotext"> FAMILY PLANING ACTIVITIES </h1></div>
<br/>
<form>
<table class="blueTable" style="height: 196px;" width="378">
	<tr>
		<th>S/N</th>
		<th colgroup="4">INJECTIONS</th>
		<th colgroup="2">TOTAL</th>
	</tr>
	<tr>
		<th>1</th>
		<th><div class="select"><select>
		<option value="">FAMILY PLANING ACTIVITIES</option>
		<option value="INJECTION DEOR PRAVIERA ADMINISTRATION">INJECTION DEOR PRAVIERA ADMINISTRATION</option>
		<option value="INJECTION NORESTRATION ADMINISTRATION">INJECTION NORESTRATION ADMINISTRATION</option>
		<option value="INTRA UTERING DEVICE INSERTED">INTRA UTERING DEVICE ADMINISTRATION</option>
		<option value="ORAL TABS">ORAL TABS</option>
		<option value="CONDOOM DISTRIBUTED">CONDOOM DISTRIBUTED</option>
		<option value="IMPLANT">IMPLANT</option>
		<option value="JADDEL">JADDEL</option>
		
</select><div class="select_arrow">
    </div></div></th>
		<th><input type="text"/></th>
	</tr>
</table><br/><br/>
<center><input type="submit" value="RECORD" class="myButton"/></center><br/><br/><br/>






</form>
</body>
</html>