<DOCTYPE HTML!>
<html>
<body bgcolor="#123456">
<head><title>IMMUNAZATION</title>
<a href="index.html"><img src="image/logo.png" width="100%" height="300" align="center" /></a>
<link rel="stylesheet" type="text/css" href="report.css"/>
</head><br/><div class="top"><h1 align="center" id="demotext"> IMMUNAZATION </h1></div>
<br/>
<form>
<table class="blueTable" style="height: 196px;" width="378">
	<tr>
		<th>S/N</th>
		<th colgroup="4">DIAGONOSIS</th>
		<th colgroup="2">TOTAL</th>
	</tr>
	<tr>
		<th>1</th>
		<th><div class="select"><select>
		<option value="">IMMUNAZATION</option>
		<option value="BCG 1ST DOSE">BCG 1ST DOSE</option>
		<option value="OPV 0 DOSE">OPV 0 DOSE</option>
		<option value="OPV 1ST DOSE">OPV 1ST DOSE</option>
		<option value="OPV 2ND DOSE">OPV 2ND DOSE</option>
		<option value="OPV 3RD DOSE">OPV 3RD DOSE</option>
		<option value="DPT 1ST DOSE">DPT 1ST DOSE</option>
		<option value="DPT 2ND DOSE">DPT 2ND DOSE</option>
		<option value="DPT 3RD DOSE">DPT 3RD DOSE</option>
		<option value="HEPT B 0 DOSE">HEPT B 0 DOSE</option>
		<option value="HEPT B 1ST DOSE">HEPT B 1ST DOSE</option>
		<option value="HEPT B 2ND DOSE">HEPT B 2ND DOSE</option>
		<option value="MEASELES 1">MEASELES 1</option>
		<option value="MEASELES 2">MEASELES 2</option>
		<option value="YELLOW FEVER">YELLOW FEVER</option>
		<option value="VITAMIN A1">VITAMIN A1</option>
		<option value="VITAMIN A2">VITAMIN A2</option>
		<option value="PCV 1">PCV 1</option>
		<option value="PCV 2">PCV 2</option>
		<option value="PCV 3">PCV 3</option>
		<option value="IPV">IPV</option>
		<option value="PENTA 1">PENTA 1</option>
		<option value="PENTA 2">PENTA 2</option>
		<option value="PENTA 3">PENTA 3</option>
		
</select><div class="select_arrow">
    </div></div></th>
		<th><input type="text"/></th>
	</tr>
</table><br/><br/>
<center><input type="submit" value="RECORD" class="myButton"/></center><br/><br/><br/>






</form>
</body>
</html>