<DOCTYPE HTML!>
<hmtl>
<head><title>IN PATIENTS</title>
<a href="index.html"><img src="image/logo.png" width="100%" height="300" align="center" /></a>
<link rel="stylesheet" type="text/css" href="report.css"/>
</head>
<body bgcolor="#123456">
<div class="enjoy-css"></br><a href="MMW.HTML">MMW</a> </div>
<div class="enjoy-css"></br><a href="FMW.HTML">FMW</a> </div>
<div class="enjoy-css"></br><a href="PAED.HTML">PAED</a> </div>
<div class="enjoy-css"></br><a href="LYING IN WARD 1.HTML">LYING IN WARD 1</a> </div>
<div class="enjoy-css"></br><a href="LYING IN WARD 2.HTML">LYING IN WARD 2</a> </div>
<div class="enjoy-css"></br><a href="NURSERY.HTML">NURSERY</a> </div>
<div class="enjoy-css"></br><a href="MSW.HTML">MSW</a> </div>   
<div class="enjoy-css"></br><a href="ICU.html">ICU</a> </div>
<div class="enjoy-css"></br><a href="AE MALE OBS.html">AE MALE OBS</a> </div>
<div class="enjoy-css"></br><a href="AE FEMALE OBS.html">AE FEMALE OBS</a> </div>
<div class="enjoy-css"></br><a href="AE PAED OBS.html">AE PAED OBS</a> </div>
<br/><br/><br/>

<br/><br/><br/>
</body>
</html>




























