<DOCTYPE HTML!>
<html>
<head><title>OUT PATIENTS</title>
<a href="index.html"><img src="image/logo.png" width="100%" height="300" align="center" /></a>
<link rel="stylesheet" type="text/css" href="report.css"/>
</head>
<body bgcolor="#123456"><br/><br/>
<div class="enjoy-css"></br><a href="ENDOCRIMANOLOGY.HTML">ENDOCRIMANOLOGY</a> </div>
<div class="enjoy-css"></br><a href="CARDIOLOGY.HTML">CADIOLOGY</a></div>
<div class="enjoy-css"></br><a href="NEPROLOGY.HTML">NEPROLOGY CLINIC</a></div>
<div class="enjoy-css"></br><a href="RHEOMATISUM.HTML">RHEOMATISUM CLINIC</a></div>
<div class="enjoy-css"></br><a href="DERMATOLOGY.HTML">DERMATOLOGY CLINIC</a></div>
<div class="enjoy-css"></br><a href="NEOROLOGY.HTML">NEOROLOGY CLINIC</a></div>
<div class="enjoy-css"></br><a href="OPHTHOMOLOGY.HTML">OPHTHOMOLOGY CLINIC</a></div>
<div class="enjoy-css"></br><a href="OTHOPEDIC.HTML">OTHOPEDIC CLINIC</a></div>
<div class="enjoy-css"></br><a href="PSYCHIATRIC.html">PSYCHIATRIC CLINIC</a></div>
<div class="enjoy-css"></br><a href="PEADIATRIC_SPECIALITY_CLINIC.html">PEADIATRIC SPECIALITY CLINIC</a></div>
<div class="enjoy-css"></br><a href="SOPD.html">SOPD CLINIC</a></div>
<div class="enjoy-css"></br><a href="RADIOLOGY.html">RADIOLOGY CLINIC</a></div>
<div class="enjoy-css"></br><a href="OBTETRICS.html">OBTETRICS AND GYNEACOLOGIST CLINIC</a></div>
<div class="enjoy-css"></br><a href="MALE_OPD.html">MALE OPD</a></div>
<div class="enjoy-css"></br><a href="FEMALE_OPD.html">FEMALE OPD</a></div>
<div class="enjoy-css"></br><a href="PAEDIATRIC_OPD.html">PAEDIATRIC OPD</a></div>
<div class="enjoy-css"></br><a href="ANC_CLINIC.html">ANC CLINIC</a></div>
<div class="enjoy-css"></br><a href="PHYSIOTHERAPY.html">PHYSIOTHERAPHY</a></div>
<div class="enjoy-css"></br><a href="DENTAL.html">DENTAL</a></div>
<div class="enjoy-css"></br><a href="INJECTION_ROOM.html">INJECTION ROOM</a></div>
<div class="enjoy-css"></br><a href="CASUALITY_THEARTER.html">CASUALITY THEARTER</a></div>
<div class="enjoy-css"></br><a href="ACCIDENT_EMERGENCY.html">ACCIDENT & EMERGENCY</a></div>
<div class="enjoy-css"></br><a href="ECG.html">ECG</a></div>
<div class="enjoy-css"></br><a href="CARD_ROOM.html">CARD ROOM</a></div><br/>
<div class="enjoy-css"></br><a href="DRESSING_ROOM.html">DRESSING ROOM</a></div>
<div class="enjoy-css"></br><a href="HTS.html">HTS</a></div><br/>
<div class="enjoy-css"></br><a href="PMCTC.html">PMCTC</a></div>
<div class="enjoy-css"></br><a href="DELIVERIES.html">DELIVERIES</a></div>
<div class="enjoy-css"></br><a href="IMMUNAZATION.html">IMMUNAZATION</a></div>
<div class="enjoy-css"><br/><a href="FAMILY PLANING ACTIVITIES.html">FAMILY PLANING ACTIVITIES</a></div>
<br/><br/><br/>

<br/><br/><br/>
</body>
</html>