{% load static %}
<DOCTYPE HTML!>
<html>
<head><title>MONTHLY SUMMARY REPORT</title>
<a href="index.html"><img src="image/logo.png" width="100%" height="300" align="center" /></a>
<link rel="stylesheet" type="text/css" href="report.css"/>
</head>
<body bgcolor="#123456">
<br/><br/><br/><br/><br/>
<center><div class="enjoy2-css"></br><a href="out patients.html">OUT PATIENTS SERVICES</a></div></br>
<div class="enjoy2-css"></br><a href="in patients.html">IN PATIENTS SERVICES</a></div></center>
</body>
</html>
